.container{
    background-color: darkolivegreen;
    background-size: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: goldenrod
}

li{
    list-style: none;
}

a:link, a:visited{
    color: goldenrod;
}
a:hover{
    color: darkgoldenrod;
}


